<html>
  <head>
    <script src="https://aframe.io/releases/0.5.0/aframe.min.js"></script>
    <script src="https://rawgit.com/donmccurdy/aframe-extras/v2.1.1/dist/aframe-extras.loaders.min.js"></script>
    <script src="//cdn.rawgit.com/donmccurdy/aframe-extras/v3.8.3/dist/aframe-extras.min.js"></script>
    <script src="static/js/janus.js"></script>
<script src="static/js/toggle.js"></script>
<script src="static/js/streamingtest.js"></script>
  </head>
  <body>
    <div class="panel-body" id="stream"></div>
    
  </body>
</html>
